:root{
    --dark-blue: #3D3F5D;
    --banner-blue: #5CACD3;
    --sage-green: #C7DFCA;
    --button-blue: #0081FE;

}

.site-container{
    display: flex;
    flex-direction: column;
}

/* Navbar */
.nav-bar{
    width: auto;
    height: 50px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
}
.hamburger{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
    margin-right: 3rem;
}
.line{
    width: 30px;
    height: 2px;
    background-color: black;
}

.nav-item{
    margin-right: 2.5rem;
    list-style: none;
    letter-spacing: 1px;}

.nav-item a, .nav-item:active a{
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-weight: bold;
}

@media screen and  (max-width: 575.98px){
    .nav-bar{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 40px;
        left: 1rem;
        position: relative;
        width: 100%;
        background-color: white;
        height: 100vh;
        /*transition for navbar*/        
    }
    .hamburger{
        display: flex;
    }

    /* transform lines into an x */
    
    
}


/* Hero */
.hero-wrap{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 0px;
    left: 0;
    z-index: -1;
    margin-bottom: 3rem;
}


.big-block{
    top: 0px;
    position: absolute;
    height: 100%;
    width: 50vw;
    background-color: var(--dark-blue);
    margin-bottom: 3rem;
    border-bottom-right-radius: 36px;
}
.logo img{
    width: 450px;
    height: auto;
    position: absolute;
    top: 75px;
    right: 5rem;
    z-index: 1;
}

.video{
    position: relative;
    height: 100vh;
}
.blue-box{
    position: relative;
    height: 40px;
    width: 100px;
    background-color: var(--banner-blue);
}
.video-container video{
    width: 60%;
    height: auto;
    position: absolute;
}

.blue-banner{
    position: absolute;
    z-index: 3;
    background-color: var(--banner-blue);
    height: 100px;
    width: 23ch;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9rem;
    bottom: 26.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
   
    border-radius: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

.hero-img {
    width: 350px;
    height: auto;
    z-index: 2;
    position: absolute;
    right: -10.5rem;
    border-radius: 36px;
    top: 27rem;
}

.hero-mobile{
    display: none;
}
@media (max-width: 575.98px){
    .hero-wrap{
        height: 100vh;
        display: flex;
        flex-direction: column;

    }
    .hero-img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;      
    }
    .big-block{
        width: 80%;
        height: 700px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 0;
        border-bottom-right-radius: 0;
    }
    .logo img{
        height: auto;
        position: absolute;
        top: 8rem;
        left: 2rem;
        margin: 0 auto;
        width: 230px;
        z-index: 2;

    }
    .hero-img{
        top: 19.5rem;
        width: 140px;
        left: 12.3rem;
    }
    .blue-banner{
        width: 22ch;
        height: 40px;
        font-size: .7rem;
        position: absolute;
        top: 21.5rem;
        left: 3.85rem;
        margin-bottom: 0;    }
       

}


/* Video */ 

.blue-box{
    top: 3rem;
    position: relative;
    width: 39ch;
    height: 65px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 12px;
    z-index: 2;
    font-family: 'Inter';

}
.video{
    position: relative;
    height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.video-container{
    position: relative;
    width: 100vw;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
}
video{
    height: 400px;
    width: auto;
    position: relative;
}

@media screen and (max-width: 575.98px){
    .video-container video{
        height: 300px;
    }
    .video-container{
        height: 280px;
    }
    .video{
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .blue-box{
        width:40ch;
        top: -1rem;
        height: 40px;
        line-height: 20px;
        font-size: .7rem;
        position: absolute;
        margin-bottom: 0;    }
    }

.open{
    display: flex;
}



.text-shadow{
    text-shadow: .5px .5px .5px rgba(0, 0, 0, 0.512);
}
.section-block{
    position: absolute;
    max-width: 1000px;
}
/* targets every odd section block */
.right{
    right: 0;
    transform: rotate(180deg);

    
}
.left-img{
    left: 3rem;
    top: -2rem;
}

.right-img{
    right: 6rem;
    height: 450px;
    top: -8rem;
}
/* main products */

.main-image{
    position: absolute;
    max-width: 494px;
    border-radius: 36px;
}

.custom-clothes, .custom-shoes, .custom-wall-art {
    position: relative;
    width: 100vw;
    height: 600px;
}
.main-products{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

.custom-clothes img{

}

.product-description{
    position: absolute;
    width: auto;
    top: 7rem;
    z-index: 3;
    right: 35rem;
    color: var(--dark-blue);
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-list li{
    color: var(--dark-blue);
    list-style: none;

}

.description-list{
    margin: 0 auto;
}

.description-list li::before{
    content :'-';
    margin-right: 1rem;
}

#right-list{
    right: 36rem
}


.flex-start{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h2{
    text-align: center;
    width: auto;
}

#Decor{
    right: 39rem;
}

.Products h2{
    height: 50px;
    width: 15ch;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: var(--banner-blue);
    border-radius: 12px;
    color: white;

}

.Products{
    line-height: 50px;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-family: 'Inter';
}


@media screen and (max-width: 575.98px){
    .custom-clothes, .custom-shoes, .custom-wall-art {
        height: 150px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .section-block{
       max-width: 320px;
    }
    .main-image{
        max-width: 130px;
        border-radius: 12px;
    }
    .right-img{
        max-height: 120px;
        aspect-ratio: 1/ 1;
        top: -.5rem;
        right: 1rem;
    }
    .left-img{
        left: 0.5rem;
    top: 0.5rem;
    }
    .product-description{
        top: 2.2rem;
        right: 5rem;
        font-size: .5rem;
    }
    #right-list{
        right: 11rem;
    top: 1rem;
    padding: 9px;
    }
    .flex-start{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .flex-start h2{
        width: 15ch;
    }
    #Decor{
        right: 5.5rem;
    }
}