:root{
    --dark-blue: #3D3F5D;
    --banner-blue: #5CACD3;
    --sage-green: #C7DFCA;
    --button-blue: #0081FE;

}

.site-container{
    display: flex;
    flex-direction: column;
}

/* Navbar */
.nav-bar{
    width: auto;
    height: 50px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
}
.hamburger{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
    margin-right: 3rem;
}
.line{
    width: 30px;
    height: 2px;
    background-color: black;
}

.nav-item{
    margin-right: 2.5rem;
    list-style: none;
    letter-spacing: 1px;}

.nav-item a, .nav-item:active a{
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-weight: bold;
}

@media screen and  (max-width: 575.98px){
    .nav-bar{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 40px;
        left: 1rem;
        position: relative;
        width: 100%;
        background-color: white;
        height: 100vh;
        /*transition for navbar*/        
    }
    .hamburger{
        display: flex;
    }

    /* transform lines into an x */
    
    
}


/* Hero */
.hero-wrap{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 0px;
    left: 0;
    z-index: -1;
    margin-bottom: 3rem;
}


.big-block{
    top: 0px;
    position: absolute;
    height: 100%;
    width: 50vw;
    background-color: var(--dark-blue);
    margin-bottom: 3rem;
    border-bottom-right-radius: 36px;
}
.logo img{
    width: 450px;
    height: auto;
    position: absolute;
    top: 75px;
    right: 5rem;
    z-index: 1;
}

.video{
    position: relative;
    height: 100vh;
}
.blue-box{
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: var(--banner-blue);
}
.video-container video{
    width: 60%;
    height: auto;
    position: absolute;
}

.blue-banner{
    position: absolute;
    z-index: 3;
    background-color: var(--banner-blue);
    height: 100px;
    width: 23ch;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9rem;
    bottom: 26.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    border-radius: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

.hero-img {
    width: 350px;
    height: auto;
    z-index: 2;
    position: absolute;
    right: -10.5rem;
    border-radius: 36px;
    top: 27rem;
}

.hero-mobile{
    display: none;
}
@media (max-width: 575.98px){
    .hero-wrap{
        height: 100vh;
        display: flex;
        flex-direction: column;

    }
    .hero-img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;      
    }
    .big-block{
        width: 80%;
        height: 700px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 0;
        border-bottom-right-radius: 0;
    }
    .logo img{
        height: auto;
        position: absolute;
        top: 8rem;
        left: 2rem;
        margin: 0 auto;
        width: 250px;
        z-index: 2;

    }
    .hero-img{
        top: 20.5rem;
        width: 170px;
        left: 13rem;
    }
    .blue-banner{
        width: 23ch;
        height: 40px;
        font-size: .8rem;
        position: absolute;
        top: 22.5rem;
        left: 2.65rem;
        margin-bottom: 0;    }
       

}

.open{
    display: flex;
}